    $clr-primary: #ffffff;
    $clr-secondary: #F9F9F9;
    $clr-dark: #2C2C2C;
    $clr-blue: #083a5b;

    $ff-primary: 'Assistant', sans-serif;
    $fs-big: 4rem;
    $fs-medium: 3rem;
    $fs-small: 1rem;

    $fw-bold: 800;
    $fw-semibold: 500;
    $fw-medium: 700;
    $fw-light: 200;