@use 'variables' as *;


* {
    font-family: $ff-primary;
}

html,
body,
h1,
p {
    padding: 0;
    margin: 0;
}

.hero {
    background-image: url(img/Path.png);
    background-position: center;
    background-size: cover;
    color: $clr-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;

    h1 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        line-height: 2.5rem;
        padding-bottom: 1rem;
    }

}



form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    .formLine {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;

    }

    label {
        font-weight: $fw-medium;
        color: $clr-blue;
    }

    input {
        border: none;
        border-bottom: 2px solid $clr-blue;
        background-color: $clr-secondary;
        height: 40px;

        &:focus {
            outline: none !important;
        }
    }



    label {
        font-size: 0.8rem;
        padding: 0.2rem 0;

    }

    .formBtn {
        background-color: $clr-blue;
        color: $clr-primary;
        font-size: $fs-small;
        font-weight: $fw-bold;
        cursor: pointer;
        letter-spacing: 0.1rem;
        border: none;
        margin-top: 1.4rem;
        padding: 0.7rem 2rem;
        transition: background-color 0.4s;

        &:hover {
            background-color: #146ba5;
        }
    }


}



@media (max-width:450px) {
    .hero {
        min-height: 370px;

        h1 {
            font-size: $fs-medium;
        }

        p {
            padding: 0 1rem;
        }
    }



    form {
        flex-direction: column;
        padding: 2rem 0;

        .formLine {
            width: 100%;
            align-items: center;
        }

        input {
            width: 90%;
        }

        button {
            width: 90%;
        }
    }

}